<form autocomplete="off">
	{{!-- Chatcard --}}
	<div class='form-group'>
		<label>{{localize 'MKAh.Regeneration.Config.Chatcard'}}</label>
		<div class='form-fields'>
			<input type='checkbox' data-dtype='Boolean' name='chatcard' {{checked regen.chatcard}}></input>
		</div>
		<p class='notes'>{{localize 'MKAh.Regeneration.Config.ChatcardHint'}}</p>
	</div>

	{{!-- Transparency --}}
	<div class='form-group'>
		<label>{{localize 'MKAh.Regeneration.Config.Transparency'}}</label>
		<div class='form-fields'>
			<input type='checkbox' data-dtype='Boolean' name='transparency' {{checked regen.transparency}}></input>
		</div>
		<p class='notes'>{{localize 'MKAh.Regeneration.Config.TransparencyHint'}}</p>
	</div>

	{{!-- Ignore  --}}
	<div class='form-group'>
		<label>{{localize 'MKAh.Regeneration.Config.Ignore'}}</label>
		<div class='form-fields'>
			<textarea data-dtype='String' name='ignore'>{{#each regen.ignore}}{{this}}{{/each}}</textarea>
		</div>
		<p class='notes'>{{localize 'MKAh.Regeneration.Config.IgnoreHint'}}</p>
	</div>

	{{!-- Auto Bleed --}}
	<div class='form-group'>
		<label>{{localize 'MKAh.Regeneration.Config.Bleed'}}</label>
		<div class='form-fields'>
			<input type='checkbox' data-dtype='Boolean' name='autoBleed' {{checked regen.autoBleed}}></input>
		</div>
		<p class='notes'>{{localize 'MKAh.Regeneration.Config.BleedHint'}}</p>
	</div>

	{{!-- Auto Stabilize --}}
	<div class='form-group not-implemented'>
		<label>{{localize 'MKAh.Regeneration.Config.Stabilize'}}</label>
		<div class='form-fields'>
			<input type='checkbox' data-dtype='Boolean' name='autoStabilize' {{checked regen.autoStabilize}}></input>
		</div>
		<p class='notes'>{{localize 'MKAh.Regeneration.Config.StabilizeHint'}}</p>
	</div>

	{{!-- Stabilize Chatcard --}}
	<div class='form-group'>
		<label>{{localize 'MKAh.Regeneration.Config.StabilizeCard'}}</label>
		<div class='form-fields'>
			<input type='checkbox' data-dtype='Boolean' name='stabilizeCard' {{checked regen.stabilizeCard}}></input>
		</div>
		<p class='notes'>{{localize 'MKAh.Regeneration.Config.StabilizeCardHint'}}</p>
	</div>

	{{!-- Auto Defeat --}}
	<div class='form-group'>
		<label>{{localize 'MKAh.Regeneration.Config.AutoDefeat'}}</label>
		<div class='form-fields'>
			<input type='checkbox' data-dtype='Boolean' name='autoDefeat' {{checked regen.autoDefeat}}></input>
		</div>
		<p class='notes'>{{localize 'MKAh.Regeneration.Config.AutoDefeatHint'}}</p>
	</div>

	{{!-- Debug --}}
	<div class='form-group'>
		<label>{{localize 'MKAh.Regeneration.Config.Debug'}}</label>
		<div class='form-fields'>
			<input type='checkbox' data-dtype='Boolean' name='debug' {{checked regen.debug}}></input>
		</div>
		<p class='notes'>{{localize 'MKAh.Regeneration.Config.DebugHint'}}</p>
	</div>

	{{!-- BUTTONS --}}
	<div class='form-group'>
		<button type='submit' name='submit'>
			<i class="fas fa-save"></i>
			{{localize 'SETTINGS.Save'}}
		</button>
		<button type='submit' name='reset'>
			<i class="fas fa-sync"></i>
			{{localize 'SETTINGS.Reset'}}
		</button>
	</div>
</form>
