<div class='{{data.class}} stabilization'>
	<div class='stabilization-details'>
		<h3 class='title'>{{localize 'MKAh.Missing.PF1.StabilizationCheck'}}</h3>
		<div class='roll-vs-dc'>
			<a class="inline-roll inline-result stabilization-check {{#if stabilization.success}}success{{else}}failure{{/if}}" title="{{stabilization.roll.formula}}" data-roll="{{data.json}}">
				<i class="fas fa-dice-d20"></i>
				{{stabilization.roll.total}}
			</a> 
			<label class='vs-dc'> vs </label> 
			<a class="inline-roll inline-result stabilization-dc" title="{{data.dcroll.formula}}" data-roll="{{data.dcjson}}">
				<i class="fas fa-dice-d20"></i>
				{{data.dcroll.total}}
			</a>
		</div>
	</div>
</div>
