#chat .chat-message {
	&.koboldworks {
		&.stabilization {
			background:inherit;
			border-color: #368a87;
			background-color: #cbffae;
			&.whisper {
				border-color: #69ab75;
				background-color: #dfffcdd4;
			}
		}
		&.regeneration {
			background:inherit;
			border-color: #e63700;
			background-color: #c7ec67;
			&.whisper {
				border-color: #e63700;
				background-color: #c2d68e;
			}
		}
		&.bleedout {
			background:inherit;
			background-color: #ff5d5d;
			border-color: #ffba71;
			&.whisper {
				background-color: #cc8787;
				border-color: #ffca85;
			}
		}

		&.bleedout,
		&.stabilization,
		&.regeneration {
			h1,h2,h3,h4 {
				margin: 0;
			}

			font-size: 12px;
			padding: 2px;

			.title {
				display: block;
				margin: 0 0 0.1em 0;
			}

			.vs-dc {
				margin-left: 0.3em;
				margin-right: 0.15em;
			}

			.regenerator,
			.deltas {
				flex: unset;
				display: inline;

				.health {
					text-align: center;
				}
			}

			.stabilization-details {
				text-align: center;
				margin-bottom: 0.2em;
			}

			header .message-metadata {
				flex: 0;
			}

			.roll-vs-dc {
				display: block;
			}
		}
	}
}
