#chat .chat-message .mkah-pf1-regen .property-group {
	margin-top: 2px;
	flex: unset;
}

#chat .chat-message .mkah-pf1-regen .tag {
	font-size: 80%;
	line-height: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#chat .chat-message.koboldworks.regeneration {
	font-size: 12px;
	padding: 2px;
}

#chat .chat-message.koboldworks.regeneration .regenerator,
#chat .chat-message.koboldworks.regeneration .deltas {
	flex: unset;
	display: inline;
}

#chat .chat-message.koboldworks.regeneration .regenerator:after {
	content: ": ";
}

#chat .chat-message.koboldworks.regeneration .property-group {
	margin-top: 3px;
}

#chat .chat-message.koboldworks.regeneration .property-group .tag {
	padding: 0px 3px;
}

#chat .chat-message.koboldworks.regeneration header .message-metadata {
	flex: 0;
}
